* { margin: 0; }
html, body { font: 10pt 'Alike', sans-serif; height: 100%; background: #000000;}
#note { font-size: 10px; }
.droptarget { background-color: #348781}
div.confident { color: black; }
div.vague { color: lightgrey; }
#note { display: inline-block; width: 1em; text-align: left;}
#output { position: absolute; width: 300px; height: 100px; }
#flat { display: none; }
#sharp { display: none; }
.flat #flat { display: inline; }
.sharp #sharp { display: inline; }
#detector {
	text-align: right;
	margin-right: 10px;}
.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;}

canvas, #userImage {
	background-color: transparent; 
	position: absolute; 
	left: 0;}
#contours {
	z-index: 3;}
#images {
	z-index: 2;}
