<!doctype html>
<html>
<head>
	<title>Vizualizr</title>

	<link href='http://fonts.googleapis.com/css?family=Alike' rel='stylesheet' type='text/css'>
	<link href='../static/css/bootstrap.css' rel='stylesheet' type='text/css'>
	<link href='../static/css/styles.css' rel='stylesheet' type='text/css'>

	<script src="../static/js/pitchdetector.js"></script>
	<script src="../static/js/three.js"></script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
</head>
<body>
<button onclick="this.innerText = togglePlayback()">use demo audio</button>
<button onclick="toggleLiveInput()">use live input</button>
<!--<button onclick="updatePitch(0);">sample</button>-->


<div id="detector" class="vague">
	<!--canvas id="output"></canvas-->
	<div class="pitch"><span id="pitch" onChange="function2(this)">--</span>Hz</div>
	<div class="note"><span id="note">--</span></div>   
	<div id="detune"><span id="detune_amt">--</span><span id="flat">cents &#9837;</span><span id="sharp">cents &#9839;</span>
</div>

<script>

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(window).load(function() {//$(function() {

	// Unset contourData for each page load
	$.contourData = undefined;
	// Initialize contourData as an array
    $.contourData = {};
	

	//$('#contours').bind('click', function() {//});

	function getContourArray() {	
		$.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/upload",
            data: { processContours: 1 },
            contentType: "application/json; charset=utf-8",
           	success: function( allContourData ) {
            	allContourData = jQuery.parseJSON( allContourData );
            	// Set contour data to global $.contourData.contourArray
            	setContourArray( allContourData );
            	beginProcessing();
            }
        }); 

    	return false;
	}

	function setContourArray( allContourData ) {
		$.contourData.contourArray = allContourData;
		$.contourData.currentContour = 0;
	}

	
	getContourArray();

	function beginProcessing() {
	//$('#contours').bind('click', function() {
		
		//console.log($.contourData.contourArray);//[0][1]["py/numpy.ndarray"]["values"]);
	


		// the main three.js components
		//var camera, scene, renderer, pointLight

		// to keep track of the mouse position
		//mouseX = 0, mouseY = 0,

		// an array to store our particles in
		//particles = [];

		// let's get going! 
		init();

		function init() {

			/*
			// Camera params : 
			// field of view, aspect ratio for render output, near and far clipping plane. 
			camera = new THREE.PerspectiveCamera(80, window.innerWidth / window.innerHeight, 1, 4000 );

			// move the camera backwards so we can see stuff! 
			// default position is 0,0,0. 
			camera.position.z = 1000;

			// the scene contains all the 3D object data
			scene = new THREE.Scene();

			// camera needs to go in the scene 
			scene.add(camera, pointLight);

			// and the CanvasRenderer figures out what the 
			// stuff in the scene looks like and draws it!

			renderer = new THREE.CanvasRenderer();
			renderer.setSize( window.innerWidth, window.innerHeight );

			// the renderer's canvas domElement is added to the body
			document.body.appendChild( renderer.domElement );

			//makeParticles(); 

			// add the mouse move listener
			//document.addEventListener( 'mousemove', onMouseMove, false );
			*/

			// render 30 times a second (should also look 
			// at requestAnimationFrame) 
			setInterval(update,1000); //1000/5

		}


		// the main update function, called 30 times a second

		function update() {
			
			$.contourData.currentContour = Math.floor((Math.random()*4)+1);
			drawContours();

			//updateParticles();			

			//var pitchd = parseFloat(document.getElementById('pitch').innerHTML);   
		    //var note = document.getElementById('note').innerHTML;
		    //var detune = document.getElementById('detune_amt').innerHTML;
		    //colorz = '#'+Math.floor(Math.random()*16777215).toString(16);
		  
		    // ["C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B"];

			// and render the scene from the perspective of the camera
			//renderer.render( scene, camera);

		}


		// creates a random field of Particle objects
		/*
		function makeParticles() { 

			$.contourData.currentContour = Math.floor((Math.random()*4)+1);

			var particle, material; 

			// we're gonna move from z position -1000 (far away) 
			// to 1000 (where the camera is) and add a random particle at every pos. 
			//for ( var zpos= -1000; zpos < 1000; zpos+=20 ) {

				// we make a particle material and pass through the 
				// colour and custom particle render function we defined. 
				colorz = '#'+Math.floor(Math.random()*16777215).toString(16);

				material = new THREE.ParticleCanvasMaterial( { color: colorz, program: particleRender } );
				// make the particle
				particle = new THREE.Particle(material);

				// give it a random x and y position between -500 and 500
				particle.position.x = 0;//Math.random() * 1000 - 500;
				particle.position.y = 0;//Math.random() * 1000 - 500;

				// set its z position
				particle.position.z = 1;//zpos;

				// scale it up a bit
				//particle.scale.x = particle.scale.y = 280; //controls size of circle

				// add it to the scene
				scene.add( particle );

				// and to the array of particles. 
				particles.push( particle ); 

			//}

		}
		*/

		// there isn't a built in circle particle renderer 
		// so we have to define our own. 
		/*
		function particleRender( context ) {

			// we get passed a reference to the canvas context
			context.beginPath();
			// and we just have to draw our shape at 0,0 - in this
			// case an arc from 0 to 2Pi radians or 360º - a full circle!
			//context.arc( 0, 0, 1, 0,  Math.PI * 2, true );

			//thisContour = contours[0][1]["py/numpy.ndarray"]["values"];

			//for (var i = 0; i < thisContour.length; i++) {
				//[0][4]["py/numpy.ndarray"]["values"][0][0]
				//context.lineTo(thisContour[i][0]);
			//};
			
			//{% for contour in contourList %}
			//context.lineTo({{contour[0][0]}},{{contour[0][1]}});
			//{% endfor %}

			context.fill();
		};
		*/

		// moves all the particles dependent on mouse position
		/*
		function updateParticles() { 

			$.contourData.currentContour = Math.round((Math.random()*4));
			
			drawContours();

			// iterate through every particle
			for(var i=0; i<particles.length; i++) {
		        
		        //console.log(pitchd)
		        //console.log(note);
		        //console.log(detune)
		       
		        if(note == "C#"){document.body.style.background = "#111111";}
		        else{document.body.style.background = "#111111";}
		       
				particle = particles[i]; 

		        particle.scale.x = particle.scale.y = mouseX * 0.1;
				// and move it forward dependent on the mouseY position. 
				particle.position.z +=  mouseY * 0.1;

				// if the particle is too close move it to the back
				if(particle.position.z>1000) particle.position.z-=2000; 

			}

		}
		

		// called when the mouse moves
		function onMouseMove( event ) {
			// store the mouseX and mouseY position 
			mouseX = event.clientX;
			mouseY = event.clientY;

		}
		*/


		/**
		 * Returns a random integer between min and max
		 * Using Math.round() will give you a non-uniform distribution!
		 *
		 * https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Math/random
		 */
		function getRandomInt (min, max) {
		    return Math.floor(Math.random() * (max - min + 1)) + min;
		}


		/**
		 * Returns an rgba(0,0,0,0) string based on pitch and note values of audio
		 */
		function updateColor() {
			
			// Get pitch value
			var pitch = document.getElementById('pitch').innerHTML;

			// Get note value
			var note = document.getElementById('note').innerHTML;

			// Set color temperature based on pitch
			colorTemp = 'cool';
// TO-DO - need to dynamically set pitch threshold, instead of using static 500
			if(pitch > 500) colorTemp = 'warm';

			// Set color based on temperature
			if(colorTemp == 'warm') {
				// Generate warm color
				// red - 255,0,0
				// orange - 255,165,0
				// yellow - 255,255,0
				colorR = getRandomInt( 205, 255 );
				colorG = getRandomInt( 0, 255 );
				colorB = 0;
			
			} else {
				// Generate cool color
				// blue - 0,0,255
				// green - 0,128,0  or  lime - 0,255,0 
				// purple - 128,0,128  or  magenta - 255,0,255
				colorR = 0;
				colorG = getRandomInt( 0, 255 );
				colorB = getRandomInt( 205, 255 );
			}


			// Set opacity
			opacity = 1;

			switch(note) {
				case "A":
				case "A#":
					opacity = 0.84;
				break;
				case "B":
					opacity = 0.98;
				break;
				case "C":
				case "C#":
					opacity = 0.14;
				break;
				case "D":
				case "D#":
					opacity = 0.28;
				break;
				case "E":
				case "E#":
					opacity = 0.42;
				break;
				case "F":
				case "F#":
					opacity = 0.56;
				break;
				case "G":
				case "G#":
					opacity = 0.70;
				break;
			}

			return "rgba("+colorR+","+colorG+","+colorB+","+opacity+")";
        
        }


		function drawContours() {
			
			canvas = document.getElementById( "contours" );
			context = canvas.getContext( "2d" );
			
			// Clear all contours in context
			//canvas.innerHTML = '';
			context.clearRect(0, 0, canvas.width, canvas.height);

			// Set fill color
			context.fillStyle = updateColor();

			context.beginPath();

			thisContour = $.contourData.contourArray[0][$.contourData.currentContour]["py/numpy.ndarray"]["values"];

			for (var i = 0; i < thisContour.length; i++) {
				context.lineTo(thisContour[i][0][0],thisContour[i][0][1]);
			};

			context.fill();
		}

		drawContours();

	//});
	}

});

</script>


<div id="result"></div>

<!-- start contours -->
<canvas id="contours" width="675" height="675" style="border: 1px solid #ccc; background-color: transparent; position: absolute; left: 0;z-index: 2;"></canvas>
<!-- end contours -->

<img src="../static/images/user/moon.jpg" width="675" height="675" style="position: absolute;left: 0;" />

</body>
</html>