<!doctype html>
<html>

<head>
	<title>Vizualizr</title>

	<link href="http://fonts.googleapis.com/css?family=Alike" rel="stylesheet" type="text/css">
	<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/static/css/styles.css" rel="stylesheet" type="text/css">

	<script src="/static/js/pitchdetector.js"></script>
	<script src="/static/js/three.js"></script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
</head>

<body>

	<button onclick="this.innerText = togglePlayback()">use demo audio</button>
	<button onclick="toggleLiveInput()">use live input</button>

	<div id="detector" class="vague">
		<div class="pitch"><span id="pitch" onChange="function2(this)">--</span>Hz</div>
		<div class="note"><span id="note">--</span></div>   
		<div id="detune"><span id="detune_amt">--</span><span id="flat">cents &#9837;</span><span id="sharp">cents &#9839;</span>
	</div>

	<div id="result"></div>

	<canvas id="contours" width="675" height="675" style="border: 1px solid #333; background-color: transparent; position: absolute; left: 0;z-index: 3;"></canvas>

	<canvas id="images" width="675" height="675" style="border: 1px solid #333; background-color: transparent; position: absolute; left: 0;z-index: 2;"></canvas>

	<img src="../static/images/user/moon.jpg" width="675" height="675" style="position: absolute;left: 0;" id="userImage" />


	<script>

		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

		$(window).load(function() {


// GENERAL TO-DOS - 
//		Have user choose whether they want to upload a file or use streaming before prompting them to upload?


			// Initialize globals

			// Unset contourData for each page load
			$.contourData = undefined;
			// Initialize contourData object
		    $.contourData = {};
		    
		    // Initialize audioData as an array
		    $.audioData = [];
		    // Set window size for analysis comparison
		    $.audioWindowSize = 10;
		    // Set threshold for color and image updates
		    $.pitchThreshold = 500;

		    // Set canvas/contexts
		    $.contourCanvas = document.getElementById( "contours" );
			$.contourContext = $.contourCanvas.getContext( "2d" );

			$.imageCanvas = document.getElementById( "images" );
            $.imageContext = $.imageCanvas.getContext( "2d" );

// TO-DO - set loading image that is replace once init() is called


			/*
			 * Get contours from Python
			 */
			function getContourArray() {	
				$.ajax({
		            type: "GET",
		            url: $SCRIPT_ROOT + "/upload",
		            data: { processContours: 1 },
		            contentType: "application/json; charset=utf-8",
		           	success: function( allContourData ) {
		            	
		            	allContourData = jQuery.parseJSON( allContourData );
		            	
		            	// Set contour data to global $.contourData.contourArray
		            	setContourArray( allContourData );
		            	
		            	beginProcessing();

		            }
		        }); 

		    	return false;
			}


			/**
			 * Add contours to globals
			 */
			function setContourArray( allContourData ) {
				// All contour data
				$.contourData.contourArray = allContourData;
				// Sets which contour should be rendered, constantly updated as the audio plays
				$.contourData.currentContour = 0;
				$.contourData.contoursInPlace = 0;
			}

			
			getContourArray();


			function beginProcessing() {
			
				// Let's get going! 
				init();


				function init() {

// TO-DO - hide the loading image
					// render 30 times a second (should also look 
					// at requestAnimationFrame) 
					setInterval(update,1000/5); //1000/5

				}


				/**
				 * Update contours and colors
				 *
				 * Store pitch audio data for ongoing analysis
				 */
				function update() {
					
	            	// Get next user image
// TO-DO - get all user images dynamically - set first to img in dom, save second+ in userImages object
		            var img1 = new Image();
		            img1.src = "http://127.0.0.1:5000/static/images/user/sun.jpg";

		            img1.onload = function(){

// TO-DO - only call drawContours(); within the conditional above once the audio thesholding is finalized ?
						drawContours();

						clipImage(img1);

					}

				}


				/**
				 * Returns a random integer between min and max
				 */
				function getRandomInt (min, max) {

				    return Math.floor( Math.random() * (max - min + 1) ) + min;

				}


				/**
				 * Returns contours of new image
				 */
				function updateImage() {
// TO-DO - pull in next user image and increment count to keep track of which image is being used
				}


				/**
				 * Returns an rgba(0,0,0,0) string based on pitch and note values of audio
				 */
				function updateColor() {
					
					// Get pitch value
					var pitch = document.getElementById('pitch').innerHTML;

					// Get note value
					var note = document.getElementById('note').innerHTML;

					// Set color temperature based on pitch
					colorTemp = 'cool';
// TO-DO - need to dynamically set pitch threshold, instead of using static 500 $.pitchThreshold ?
					if(pitch > $.pitchThreshold) colorTemp = 'warm';

// TO-DO - set color values based on colors within next (second, third, fourth, etc) image using Python?
					// Set color based on temperature
					if(colorTemp == 'warm') {
						// Generate warm color
						// red 		255,0,0
						// orange 	255,165,0
						// yellow 	255,255,0
						colorR = getRandomInt( 205, 255 );
						colorG = getRandomInt( 0, 255 );
						colorB = 0;
					
					} else {
						// Generate cool color
						// blue 	0,0,255
						// green 	0,128,0 
						// lime  	0,255,0 
						// purple 	128,0,128
						// magenta 	255,0,255
						colorR = 0;
						colorG = getRandomInt( 0, 255 );
						colorB = getRandomInt( 205, 255 );
					}


					// Set opacity
					opacity = 0.28;

					switch(note) {
						case "A":
						case "A#":
							opacity = 0.84;
							$.contourData.currentContour = 0;
						break;
						case "B":
							opacity = 0.98;
							$.contourData.currentContour = 1;
						break;
						case "C":
						case "C#":
							opacity = 0.14;
							$.contourData.currentContour = 2;
						break;
						case "D":
						case "D#":
							opacity = 0.28;
							$.contourData.currentContour = 3;
						break;
						case "E":
						case "E#":
							opacity = 0.42;
							$.contourData.currentContour = 4;
						break;
						case "F":
						case "F#":
							opacity = 0.56;
							$.contourData.currentContour = 5;
						break;
						case "G":
						case "G#":
							opacity = 0.70;
							$.contourData.currentContour = 6;
						break;
					}

					$.contourData.contoursInPlace++;

					return "rgba("+colorR+","+colorG+","+colorB+","+opacity+")";
		        
		        }


		        /**
		         * Increment current contour being used
		         */
		        function setNextContour() {

					if($.contourData.contoursInPlace >= ($.contourData.contourArray[0].length * 1.25)) {
						
						// Reset contour
						$.contourData.contoursInPlace = 0;

						// Clear all contours in context
						$.contourContext.clearRect(0, 0, $.contourCanvas.width, $.contourCanvas.height);
						$.imageContext.clearRect(0, 0, $.imageCanvas.width, $.imageCanvas.height);
					}

		        }


		        /**
		         * Draw contours in canvas
		         */
				function drawContours() {
					
					context = $.contourContext;
					
					// Set fill color
					context.fillStyle = updateColor();

					context.beginPath();

					thisContour = $.contourData.contourArray[0][$.contourData.currentContour]["py/numpy.ndarray"]["values"];

					for (var i = 0; i < thisContour.length; i++) {
						context.lineTo(thisContour[i][0][0],thisContour[i][0][1]);
					};

					context.fill();

					setNextContour();
				}


				/**
		         * Draw contours of one image on another
		         */
				function clipImage(img1) {

					var testContour = getRandomInt( 0, 6 );

                	$.imageContext.save();

                    $.imageContext.beginPath();

                    // Create mask with contour
                    thisContour = $.contourData.contourArray[0][testContour]["py/numpy.ndarray"]["values"];

					for (var i = 0; i < thisContour.length; i++) {
						$.imageContext.lineTo(thisContour[i][0][0],thisContour[i][0][1]);
					};

					$.imageContext.closePath();
                    
                    // Apply mask
                    $.imageContext.clip();
                    
                    // Display portion of new image
                    $.imageContext.drawImage(img1,0,0);

                    // Restore context to original state
                    // This allows multiple contours to be drawn
                    $.imageContext.restore();

	        	}

			}

		});

	</script>

</body>
</html>